html {
    background-color: rgb(124, 185, 255);
}

div {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

#first {
    background-color:rgb(113, 173, 15);
    margin-left: 30px;
    margin-right: 30px;
    border: 10px solid;
}
#second {
    background-color:rgb(122, 38, 46);
    margin-left: 60px;
    margin-right: 60px;
    border: 10px solid;
    padding-top: 50px;
    height: 100px;
    width: 300px;
    border-radius: 100%
}

.start{
    font-size: 20px;
}
